body{
background:#1f2933;
color:white;
font-family:Arial;
text-align:center;
}

.card{
background:#6b7280;
padding:20px;
width:300px;
margin:auto;
border-radius:8px;
}

input, select, button{
width:90%;
padding:8px;
margin:8px 0;
border:none;
border-radius:4px;
}

button{
background:#22c1dc;
color:white;
cursor:pointer;
}

.grafico-container{
display:flex;
justify-content:center;
margin-top:30px;
}

canvas{
background:white;
display:block;
margin:auto;
max-width:600px;}